header {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.headerTitle {
  color: #737373;
}
.headerTitle:hover {
  background: linear-gradient(-45deg, #C0D146, #C0D146, #FFAA5A, #FF785A, #644536, #644536, #737373, #737373, #737373);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradientLogo 15s ease infinite;
}

@keyframes gradientLogo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navItem {
  color: #000;
  font-size: 1.5vw;
  text-decoration: none;
}
.navItem:hover {
  text-shadow: 1px 1px 15px #000;
}

main {
  margin: 0;
  padding: 0;
}
main .errorPage {
  height: 80vh;
}

.mainTitle {
  color: #fff;
}

.gradientBox {
  background: linear-gradient(45deg, #C0D146, #C0D146, #FFAA5A, #FF785A, #644536, #644536);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

.redBox {
  background-color: #dc3545;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.orangeBox {
  background-color: #FF785A;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.greenBox {
  background-color: #198754;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.blackBox {
  background-color: #000;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.whiteBox {
  background-color: #fff;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.gray-lightBox {
  background-color: #ececec;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.grayBox {
  background-color: #737373;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.gray-darkBox {
  background-color: #343a40;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.sandyBox {
  background-color: #FFAA5A;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.pearBox {
  background-color: #C0D146;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.coffeBox {
  background-color: #644536;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.dark-purpleBox {
  background-color: #242038;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.mainImage {
  border-radius: 0;
  border-width: 0;
}

.mainItem {
  font-size: 6px;
}

.filterList li {
  list-style: none;
}

.shopItem {
  color: #000;
}
.shopItem div .prevPrice {
  color: #adb5bd;
}
.shopItem:hover {
  color: #6c757d;
}

.btn-gradient {
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, #C0D146, #C0D146, #FFAA5A, #FF785A, #644536, #644536) border-box;
  border-radius: 50em;
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  border: 4px solid transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.carousel-item div p {
  text-shadow: 2px 2px 8px #000;
}

.cardPromotion {
  transition: transform 0.2s;
}
.cardPromotion:hover {
  transform: scale(1.05);
}
.cardPromotion div .promotionText {
  background: linear-gradient(-45deg, #C0D146, #C0D146, #FFAA5A, #FF785A, #644536, #644536);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradientLogo 15s ease infinite;
}

@keyframes gradientLogo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.accordion {
  --bs-accordion-btn-focus-border-color: $black;
  --bs-accordion-btn-focus-box-shadow: $black;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #ececec;
}

footer {
  margin: 0;
  padding: 0;
}
footer .footerSeparator {
  width: 100%;
  height: 4px;
  background: linear-gradient(45deg, #C0D146, #C0D146, #FFAA5A, #FF785A, #644536, #644536);
}
footer .footerBox {
  background-color: #737373;
  color: #fff;
  text-decoration: none;
}
footer .footerBox div ul li {
  list-style-type: none;
}
footer .footerBox div ul li a {
  text-decoration: none;
  color: #fff;
  list-style-type: none;
}

@font-face {
  font-family: "Caprasimo";
  src: url(../assets/fonts/caprasimo-regular.ttf);
}
.caprasimo {
  font-family: "Caprasimo";
}

/*# sourceMappingURL=style.css.map */
