header {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.headerTitle {
  color: #737373;
}
.headerTitle:hover {
  background: linear-gradient(-45deg, #C0D146, #C0D146, #FFAA5A, #FF785A, #644536, #644536, #737373, #737373, #737373);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradientLogo 15s ease infinite;
}

@keyframes gradientLogo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navItem {
  color: #000;
  font-size: 1.5vw;
  text-decoration: none;
}
.navItem:hover {
  text-shadow: 1px 1px 15px #000;
}

main {
  margin: 0;
  padding: 0;
}
main .errorPage {
  height: 80vh;
}

.mainTitle {
  color: #fff;
}

.gradientBox {
  background: linear-gradient(45deg, #C0D146, #C0D146, #FFAA5A, #FF785A, #644536, #644536);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

.blueBox {
  background-color: #0d6efd;
}

.indigoBox {
  background-color: #6610f2;
}

.purpleBox {
  background-color: #6f42c1;
}

.pinkBox {
  background-color: #d63384;
}

.redBox {
  background-color: #dc3545;
}

.orangeBox {
  background-color: #FF785A;
}

.yellowBox {
  background-color: #ffc107;
}

.greenBox {
  background-color: #198754;
}

.tealBox {
  background-color: #20c997;
}

.cyanBox {
  background-color: #0dcaf0;
}

.blackBox {
  background-color: #000;
}

.whiteBox {
  background-color: #fff;
}

.gray-lightBox {
  background-color: #ececec;
}

.grayBox {
  background-color: #737373;
}

.gray-darkBox {
  background-color: #343a40;
}

.sandyBox {
  background-color: #FFAA5A;
}

.pearBox {
  background-color: #C0D146;
}

.coffeBox {
  background-color: #644536;
}

.dark-purpleBox {
  background-color: #242038;
}

.mainImage {
  border-radius: 0;
  border-width: 0;
}

.mainItem {
  font-size: 6px;
}

.filterList li {
  list-style: none;
}

.shopItem {
  color: #000;
}
.shopItem div .prevPrice {
  color: #adb5bd;
}
.shopItem:hover {
  color: #6c757d;
}

.btn-gradient {
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, #C0D146, #C0D146, #FFAA5A, #FF785A, #644536, #644536) border-box;
  border-radius: 50em;
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  border: 4px solid transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.carousel-item div p {
  text-shadow: 2px 2px 8px #000;
}

.arrow {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}
.arrow:hover {
  border: solid 2px white;
  border-radius: 50%;
}
.arrow:hover:before {
  animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
.arrow:hover:after {
  animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
.arrow:after {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 20px;
  height: 15px;
  top: -1px;
  border-bottom: solid 2px;
  transform: translatex(4px);
}
.arrow:before {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 8px;
  height: 8px;
  border-top: solid 2px;
  border-left: solid 2px;
  top: 50%;
  left: 2px;
  transform-origin: 0% 0%;
  transform: rotatez(-45deg);
}

@keyframes aniArrow01 {
  0% {
    transform: rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}
@keyframes aniArrow02 {
  0% {
    transform: translateX(45px);
  }
  100% {
    transform: translateX(-44px);
  }
}
@keyframes borderAni {
  0% {
    border: solid 2px white;
  }
  100% {
    border: solid 2px white;
    border-radius: 50%;
  }
}
footer {
  margin: 0;
  padding: 0;
}
footer .footerSeparator {
  width: 100%;
  height: 4px;
  background: linear-gradient(45deg, #C0D146, #C0D146, #FFAA5A, #FF785A, #644536, #644536);
}
footer .footerBox {
  background-color: #737373;
  color: #fff;
  text-decoration: none;
}
footer .footerBox div ul li {
  list-style-type: none;
}
footer .footerBox div ul li a {
  text-decoration: none;
  color: #fff;
  list-style-type: none;
}

@font-face {
  font-family: "Caprasimo";
  src: url(../assets/fonts/caprasimo-regular.ttf);
}
.caprasimo {
  font-family: "Caprasimo";
}

/*# sourceMappingURL=style.css.map */
