@font-face {
    font-family: "Caprasimo";
    src: url(../assets/fonts/Caprasimo-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 180vh;
    width: 100%;
    margin: 0;
    background-color: antiquewhite;
}

body header {
    height: 8vh;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}


body main {
    height: 164vh;
    margin: 0;
    padding: 0;
}

body footer {
    height: 8vh;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}