@import "../scss/modules/variables";
@import "../scss/modules/header";
@import "../scss/modules/main";
@import "../scss/modules/footer";

@font-face {
    font-family: "Caprasimo";
    src: url(../assets/fonts/caprasimo-regular.ttf);
}

.caprasimo {
    font-family: 'Caprasimo';
}