@import "./variables";

footer {
    margin: 0;
    padding: 0;
    .footerSeparator {
        width: 100%;
        height: 4px;
        background: linear-gradient(45deg, $gradient);
    }
    .footerBox {
        background-color: $gray;
        color: $white;
        text-decoration: none;
        div{
            ul{
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: $white;
                        list-style-type: none;
                    }
                }
            }
        }
    }
}