@import "./variables";

main{
    margin: 0;
    padding: 0;
    .errorPage {
        height: 80vh;
    }
}

.mainTitle {
    color: $white;
}

.gradientBox {
	background: linear-gradient(45deg, $gradient);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
}

@each $c-name, $c-colour in $c-colors {
    .#{$c-name}Box {
        background-color: $c-colour;
    }
} 

.mainImage {
    border-radius: 0;
    border-width: 0;
}

.mainItem {
    font-size: 6px;
}

.filterList {
    li {
        list-style: none;
    }
}

.shopItem {
    color: $black; 
    div {
        .prevPrice {
            color: $gray-500;
        }
    }
    &:hover {
        color: $gray-600;
    }
}

.btn-gradient {
    background: linear-gradient($white, $white) padding-box,
    linear-gradient(45deg, $gradient) border-box;
    border-radius: 50em;
    background-size: 200% 200%;
	animation: gradient 15s ease infinite;
    border: 4px solid transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.carousel-item {
    div {
        p {
            text-shadow: 2px 2px 8px $black;
        }
    }
}

.arrow{
    position:relative;
    width:30px;
    height: 30px;
    cursor:pointer;
    transition:0.5s;
    overflow:hidden;
    &:hover {
        border:solid 2px white; 
        border-radius:50%;
        &:before{
            animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
           }
        &:after{
            animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
           }
    }
    &:after{
        position:absolute;
        display:block;
        content:"";
        color:white;
        width: 20px;
        height: 15px;
        top:-1px;
        border-bottom:solid 2px;
        transform:translatex(4px);
      }
      &:before{
        position:absolute;
        display:block;
        content:"";
        color:white;
        width: 8px;
        height: 8px;
        border-top:solid 2px;
        border-left:solid 2px;
        top:50%;
        left:2px;
        transform-origin:0% 0%;
        transform:rotatez(-45deg);
      }
  }   

  @keyframes aniArrow01 {
    0% {
      transform:rotatez(-45deg) translateY(30px) translateX(30px);
    }
    100% {
      transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
    }
  }

  @keyframes aniArrow02 {
    0% {
      transform:translateX(45px);
    }
    100% {
      transform:translateX(-44px);
    }
  }
  
  @keyframes borderAni{
     0% {
      border:solid 2px white;
    }
    100% {    
      border:solid 2px white; 
      border-radius:50%;
    }
  }

  .accordion {
    --bs-accordion-btn-focus-border-color: $black;
    --bs-accordion-btn-focus-box-shadow: $black;
  }

  .accordion-button {
    &:not(.collapsed) {
        color: $black;
        background-color: map-get($map: $c-colors, $key: "gray-light");
    }
  }